
{% extends 'account/index.html' %}

{% load static %}

{% block codigoDinamico2 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mi</title>
</head>
<body>
    <h1>Agustin Piergentili</h1>
    <h2>Hola a todos, mi nombre es Agustin, estoy realizando el curso de CoderHouse, sobre lenguaje Python. Es mi primera aproximacion
        a este mundo. Antiguamente estudiaba Cine, asi que vengo un un palo completamente distinto.
        Me costo mucho realizar este blog, pero creo que hice un gran trabajo. 
        Aqui podran realizar las reseñas que quieran de las peliculas que mas les gusta.
    </h2>
</body>
</html>


{% endblock  %}