{% extends 'account/index.html' %}

{% load static %}

{% block codigoDinamico2 %}


<form action="" method="get">

    <input type="text" name="resena" id="resena">

    <input type="submit" value="Buscar">

    <button>
        <a href="{% url 'index' %}">Volver</a>
    </button>

</form>

{% if resenas %}

    <ul>
    {% for p in resenas %}
        <h1>Reseña de la pelicula {{p.titulo}}, escrita por {{p.nombre}}: </h1>
        <h1> {{p.reseña}} </h1>
    {% endfor %}
    <ul>

{% else %}
    <p>No hay datos</p>

{% endif %}

{% endblock  %}